.logo {
  height: 100px;
}

.flag {
  margin: 5px;
  height: 30px;
  cursor: pointer;
}

.admin-button {
  margin: 30px;
  padding: 20px;
}

.form-button {
  background-color: blue;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  opacity: 0.8;
}

.form-button:hover {
  opacity: 1.0;
}

.form-button:active {
  background-color: rgb(0, 0, 206);
}

.form-control {
  margin: auto;
  width: 30%;
}

.form-label {
  text-align: center;
  margin: auto;
  width: 100%;
}

.form-button-wrapper {
  text-align: center;
}

.product {
  border: 1px solid black;
}