.cart-item {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  margin: 0 10%;
  border-bottom: 1px solid lightgray;
}

.cart-item img {
  height: 20px;
  cursor: pointer;
  margin: 0 5px;
}

.cart-item span {
  width: 100px;
}

.cart-item-name {
  width: 200px !important;
}

.cart-item-total {
  height: 30px !important;
}

/* .cart-sum {
  margin-top: 20px;
  text-align: center;
} */

.cart-sum {
  text-align: right;
  margin-top: 20px;
  margin-right: 10%;
  font-weight: bold;
}

.cart-empty {
  text-align: center;
  margin: 10%
}

.cart-empty div {
  margin-bottom: 20px;
}

.product img {
  height: 200px;
  width: 200px;
}

.admin-product {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.admin-product img {
  height: 50px;
  width: 50px;
}

.admin-product span {
  width: 200px;
}


.logo {
  height: 100px;
}

.flag {
  margin: 5px;
  height: 30px;
  cursor: pointer;
}

.admin-button {
  margin: 30px;
  padding: 20px;
}

.form-button {
  background-color: blue;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  opacity: 0.8;
}

.form-button:hover {
  opacity: 1.0;
}

.form-button:active {
  background-color: rgb(0, 0, 206);
}

.form-control {
  margin: auto;
  width: 30%;
}

.form-label {
  text-align: center;
  margin: auto;
  width: 100%;
}

.form-button-wrapper {
  text-align: center;
}

.product {
  border: 1px solid black;
}